EMAILP=resend-api
WEBSOCKET_URL_API=your_alchemy_websocket_key
FUNDRAISING_ADDRESS=0xYourFundraisingContractAddress
LISTING_CONTRACT_ADDRESS=0xYourListingContractAddress
MONGO_URI = ''
PORT = 5000
SERVER_PRIVATE_KEY = 'main-server-wallet' ##empty wallet for signing hash to check if user is registered in DB before purchase, senderAddress in the shops smartcontracts
DATA_DIR=/app/data ##For using railway
EMAIL = onboarding@resend.dev ##change to your domain email after connecting resend